<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="50" rows="40"></textarea><br>
    <input id="chat-message-input" type="text" size="50">
    <input id="chat-message-submit" type="button" value="Send">
    <input type="hidden" id="room-name" name="custId" value= {{room_name}}>    
    <script>
        const roomName = document.getElementById('room-name').value;
        //const mess=JSON.parse(e.data);
        //document.querySelector('#chat-log').value += (data.user+":"+data.message + '\n');
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        function ObjectLength( object ) {
            var length = 0;
            for( var key in object )
            {
            if( object.hasOwnProperty(key) )
            {
                ++length;
            }
            }
            return length;
            };
        chatSocket.onmessage = function(e) { 
            const data = JSON.parse(e.data);
            var a=ObjectLength(data.old_chat)
            if(data.old_chat){
                for (i = 0; i < a; i++)
                {
                document.querySelector('#chat-log').value += (data.old_chat[i]['author']+":"+data.old_chat[i]['author'] + '\n');
                }
            }
            else{
            document.querySelector('#chat-log').value += (data.user+":"+data.message + '\n');
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>